aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
anyio
appdirs
asgiref
assemblyai
attrs
autopep8
beautifulsoup4
bidict
blinker
cachetools
certifi
chardet
charset-normalizer
chromedriver-autoinstaller
click
coreapi
coreschema
dateparser
distlib
distro
Django
django-cors-headers
djangorestframework
dnspython
drf-yasg
environs
et-xmlfile
eventlet
fastapi
fastapi_cors
filelock=
Flask
flask-cors
Flask-SocketIO
frozenlist
fsspec
git-filter-repo
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gspread
h11
httpcore
httplib2
httpx
idna
inflection
itsdangerous
itypes
Jinja2
jiter
llvmlite
lxml
MarkupSafe
marshmallow
more-itertools
mpmath
multidict
networkx
numba
numpy
oauth2client
oauthlib
openpyxl
outcome
packaging
pandas
pdfkit
pillow
platformdirs
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pycodestyle
pycountry
pydantic
pydantic_core
PyJWT
pymongo
pyparsing
PySocks
python-crontab
python-dateutil
python-docx
python-dotenv
python-engineio
python-multipart
python-socketio
pytz
regex
reportlab
requests
requests-oauthlib
rsa
ruamel.yaml
ruamel.yaml.clib
selenium
selenium-stealth
sib-api-v3-sdk
simple-websocket
six
sniffio
sortedcontainers
soupsieve
sqlparse
starlette
sympy
tiktoken
torch
tqdm
trio
trio-websocket
twilio
typing_extensions
tzdata
tzlocal
undetected-chromedriver
uritemplate
urllib3
uvicorn
virtualenv
webdriver-manager
webdrivermanager
websocket-client
websockets
Werkzeug
wsproto
yarl
